<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="TC_For_Forgot_Password.Forgot_Password_fields_alertsTest"/>
      <class name="TC_For_Forgot_Password.Forgot_PasswordTest"/>
           <class name="Identify_links.Links_Persent_or_NotTest"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
